@charset "UTF-8";
/* 初始化 */
body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, input, textarea, select, p, dl, dt, dd, a, img, button, form, table, th, tr, td, tbody, article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  outline: none; }

html {
  height: 100%;
  overflow-x: hidden;
  background: #e6e6e6;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent; }

body {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 320px;
  max-width: 640px;
  min-height: 100%;
  font: 0.28rem/1 "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  background: #ffffff; }

em, i {
  font-style: normal; }

/* 设置HTML5元素为块 */
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block; }

a {
  text-decoration: none;
  color: #333;
  font-size: 0.28rem;
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1.1; }

strong {
  font-weight: normal; }

ul, ol, li {
  list-style: none; }

textarea {
  outline: none;
  resize: none;
  -webkit-appearance: none;
  -moz-appearance: none; }

input, button {
  font: 0.28rem/1 "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* 去除iPhone中默认的input样式 */
input {
  resize: none; }

input[type="text"], input[type="submit"], input[type="reset"], input[type="button"] {
  -webkit-appearance: none; }

/* 图片自适应 */
img {
  border: none;
  vertical-align: middle;
  height: auto;
  max-width: 100%;
  width: auto \9;
  /* ie8 */
  -ms-interpolation-mode: bicubic;
  /*为了照顾ie图片缩放失真*/ }

/*scss*/
.footer .in {
  max-width: 640px; }

.footer .in {
  position: fixed;
  left: auto;
  bottom: 0;
  right: auto;
  top: auto;
  z-index: 999;
  width: 100%; }

.pop, .tip-show {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%); }

.header {
  width: 100%;
  height: .84rem;
  background-color: #fba735; }

.container {
  margin-top: .4rem;
  padding: 0 .25rem;
  overflow: hidden; }
  .container .inpCom {
    width: 100%; }
    .container .inpCom .inp {
      width: 100%;
      height: .9rem; }
      .container .inpCom .inp input {
        width: 100%;
        height: 100%;
        line-height: .5rem;
        padding-left: .2rem;
        padding-right: .2rem;
        font-size: .32rem;
        text-align: center;
        background-color: #fff;
        box-sizing: border-box;
        border: 1px solid #e4e4e4;
        border-radius: .06rem; }
    .container .inpCom .yzmInp {
      margin-top: .55rem; }
      .container .inpCom .yzmInp input {
        width: 61%;
        font-size: .28rem;
        float: left; }
      .container .inpCom .yzmInp .getCode {
        width: 32%;
        height: .6rem;
        line-height: .6rem;
        float: right;
        color: #fff;
        background-color: #e6e6e6;
        border-radius: .06rem;
        margin-top: .15rem;
        font-size: .28rem;
        cursor: pointer; }
        .container .inpCom .yzmInp .getCode.sended {
          color: #666; }
    .container .inpCom .tip {
      text-align: center;
      color: #d1d1d1;
      font-size: .25rem;
      margin-top: .3rem; }
  .container .sub {
    margin-top: .7rem;
    text-align: center;
    overflow: hidden;
    cursor: pointer; }
    .container .sub .subBtn {
      width: 1.94rem;
      height: .6rem;
      background-image: url("../images/sub-btn.png");
      background-repeat: no-repeat;
      background-size: cover;
      color: #fff;
      font-size: .32rem;
      text-align: center; }
    @media only screen and (max-width: 320px) {
      .container .sub {
        margin-top: .55rem; } }

.footer {
  position: relative;
  height: 2.2rem; }
  .footer .in {
    height: 2.2rem;
    background-image: url("../images/footerBg.png");
    background-repeat: no-repeat;
    background-size: cover; }
  .footer .btnCom {
    width: 100%;
    height: .8rem;
    position: absolute;
    bottom: .4rem;
    left: 0; }
    .footer .btnCom .btn {
      width: 50%;
      height: 100%;
      float: left;
      position: relative;
      text-align: center; }
      .footer .btnCom .btn .item {
        width: 84.6%;
        height: .78rem;
        line-height: .78rem;
        margin: 0 auto;
        background-image: url("../images/btn-kk.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-size: contain;
        background-position: center;
        display: inline-block;
        vertical-align: middle; }
        .footer .btnCom .btn .item img {
          width: .6rem;
          display: inline-block;
          margin-top: -0.06rem; }
        .footer .btnCom .btn .item .ti {
          color: #fff; }

.pop {
  display: none;
  width: 62%;
  height: 2.16rem;
  background-color: #e6e6e6;
  text-align: center;
  border-radius: .1rem;
  top: 45%; }
  .pop .in {
    padding-top: .38rem; }
    .pop .in > * {
      color: #fff;
      font-size: .32rem; }
    .pop .in p {
      padding-bottom: .1rem; }
    .pop .in .okBtn {
      width: .72rem;
      height: .72rem;
      line-height: .72rem;
      text-align: center;
      margin-top: .05rem;
      border-radius: 50%;
      border: 1px solid #fff;
      box-sizing: border-box;
      display: inline-block; }
  @media only screen and (max-height: 480px) {
    .pop {
      top: 50%; } }

.tip-show {
  padding: .2rem .4rem;
  background-color: #000;
  color: #fff;
  font-size: .32rem;
  border-radius: 2px;
  display: inline-block;
  display: none; }

@media only screen and (min-width: 640px) {
  .footer {
    height: 2rem; }
    .footer .in {
      height: 1.8rem; }
      .footer .in .btnCom {
        bottom: .1rem; }

  .mainBg {
    bottom: 1.53rem; }

  .container .sub {
    margin-top: .2rem; } }
@media only screen and (max-height: 480px) {
  .container {
    margin-top: .2rem; }
    .container .inpCom .yzmInp {
      margin-top: .2rem; }
    .container .inpCom .tip {
      margin-top: .15rem; }
    .container .sub {
      position: absolute;
      top: 3.85rem;
      left: 50%;
      margin-left: -.97rem;
      margin-top: 0;
      z-index: 99999; } }
body {
  background-image: url("../images/main-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: contain;
  background-position: left bottom; }

/*# sourceMappingURL=style.css.map */
