@charset "UTF-8";
/* 初始化 */
body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, input, textarea, select, p, dl, dt, dd, a, img, button, form, table, th, tr, td, tbody, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  outline: none; }

html {
  height: 100%;
  overflow-x: hidden;
  background: #282828;
  /* 禁用iPhone中Safari的字号自动调整 */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent; }

body {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 320px;
  max-width: 640px;
  min-height: 100%;
  font: 0.28rem/1 "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #3e3c3c;
  background: #f8f8f8; }

em, i {
  font-style: normal; }

/* 设置HTML5元素为块 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

a {
  text-decoration: none;
  color: #3e3c3c;
  font-size: 0.24rem;
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1.1; }

strong {
  font-weight: normal; }

ul, ol, li {
  list-style: none; }

/* 去除iPhone中默认的input样式 */
input {
  resize: none; }

input[type="text"], input[type="submit"], input[type="reset"], input[type="button"] {
  -webkit-appearance: none; }

/* 图片自适应 */
img {
  border: none;
  vertical-align: middle;
  height: auto;
  max-width: 100%;
  width: auto \9;
  /* ie8 */
  -ms-interpolation-mode: bicubic;
  /*为了照顾ie图片缩放失真*/ }

/* clearfix */
.clearfix, .header .inner {
  *zoom: 1; }

.clearfix:before, .header .inner:before, .clearfix:after, .header .inner:after {
  content: "";
  display: table; }

.banner .slideBox .hd li, .appraise .ap-item .tp {
  border-radius: 50%; }

.banner, .banner .slideBox .hd li, .goods-para, .goods-para .list, .goods-para .list ul, .goods-para .list li, .appraise, .appraise .tit h3, .appraise .ap-item, .appraise .ap-item .tp, .appraise .ap-item .txt .pp, .appraise .ap-item .txt .pic, .appraise .ap-item .txt .pic ol, .appraise .ap-item .txt .pic li {
  overflow: hidden; }

.goods-para .in, .pro-para, .appraise .ap-item {
  padding: 0 .2rem; }

.appraise .ap-item .tp img, .appraise .ap-item .txt .pic li img {
  width: 100%;
  height: 100%; }

.banner .slideBox .hd {
  position: absolute;
  left: 50%;
  top: auto;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0); }

.pro-para .arr-ico {
  position: absolute;
  left: auto;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%); }

.banner .slideBox {
  position: relative; }
  .banner .slideBox .hd {
    bottom: .2rem;
    z-index: 2; }
    .banner .slideBox .hd li {
      width: .16rem;
      height: .16rem;
      background-color: #fbc47b;
      text-indent: -99999px;
      margin: 0 .2rem;
      display: inline-block; }
      .banner .slideBox .hd li.on {
        background-color: #ff9100; }
  .banner .slideBox .bd {
    position: relative;
    z-index: 0; }
    .banner .slideBox .bd li {
      position: relative;
      text-align: center; }
      .banner .slideBox .bd li img {
        width: 100%; }

.goods-para {
  background-color: #fff;
  margin-top: .4rem; }
  .goods-para .in {
    padding-top: .55rem;
    padding-bottom: .3rem; }
  .goods-para .tit {
    text-align: center; }
    .goods-para .tit h3 {
      color: #3e3c3c; }
  .goods-para .list {
    color: #666;
    margin-top: .4rem; }
    .goods-para .list li {
      margin-bottom: .15rem; }
    .goods-para .list .tl {
      float: left;
      width: 20%; }
    .goods-para .list .tr {
      float: left;
      width: 80%;
      padding-left: .1rem;
      box-sizing: border-box; }
      .goods-para .list .tr span {
        margin-right: .05rem; }

.pro-para {
  width: 100%;
  height: .7rem;
  background-color: #fff;
  box-sizing: border-box;
  position: relative;
  margin-top: .2rem; }
  .pro-para .tit {
    line-height: .7rem; }
  .pro-para .arr-ico {
    width: .7rem;
    height: .7rem;
    background: url("../images/arr-ico.png");
    background-repeat: no-repeat;
    background-size: cover;
    right: 0; }

.appraise {
  background-color: #fff;
  margin-top: .2rem; }
  .appraise .in {
    padding-bottom: .1rem; }
  .appraise .tit {
    height: .7rem; }
    .appraise .tit h3 {
      line-height: .7rem; }
  .appraise .ap-item {
    border-bottom: 1px solid #cfcfcf; }
    .appraise .ap-item .tp {
      width: .68rem;
      height: .68rem;
      float: left;
      margin-left: .1rem; }
    .appraise .ap-item .txt {
      margin-left: 1.1rem;
      font-size: .24rem; }
      .appraise .ap-item .txt .name {
        margin-bottom: .1rem; }
      .appraise .ap-item .txt .star-score {
        position: relative;
        width: 1.2rem;
        height: 0.19rem;
        background-image: url("../images/stars-0.png");
        background-repeat: no-repeat;
        background-size: cover; }
        .appraise .ap-item .txt .star-score > span {
          position: absolute;
          width: 0;
          height: 0;
          padding-top: 0.19rem;
          overflow: hidden;
          left: 0;
          top: 0;
          background-image: url("../images/stars-1.png");
          background-repeat: no-repeat;
          background-size: cover; }
      .appraise .ap-item .txt .pp {
        margin-top: .2rem; }
      .appraise .ap-item .txt .pic {
        margin-top: .15rem; }
        .appraise .ap-item .txt .pic li {
          width: 1.2rem;
          height: 1.2rem;
          float: left;
          margin-right: .1rem;
          margin-bottom: .1rem; }

/*# sourceMappingURL=style.css.map */
