@charset "UTF-8";
/* 初始化 */
body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, input, textarea, select, p, dl, dt, dd, a, img, button, form, table, th, tr, td, tbody, article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  outline: none; }

html {
  height: 100%;
  overflow-x: hidden;
  background: #282828;
  /* 禁用iPhone中Safari的字号自动调整 */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent; }

body {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 320px;
  max-width: 640px;
  min-height: 100%;
  font: 0.28rem/1 "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #3e3c3c;
  background: #f8f8f8; }

em, i {
  font-style: normal; }

/* 设置HTML5元素为块 */
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block; }

a {
  text-decoration: none;
  color: #3e3c3c;
  font-size: 0.28rem;
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1.1; }

strong {
  font-weight: normal; }

ul, ol, li {
  list-style: none; }

/* 去除iPhone中默认的input样式 */
input {
  resize: none; }

input[type="text"], input[type="submit"], input[type="reset"], input[type="button"] {
  -webkit-appearance: none; }

/* 图片自适应 */
img {
  border: none;
  vertical-align: middle;
  height: auto;
  max-width: 100%;
  width: auto \9;
  /* ie8 */
  -ms-interpolation-mode: bicubic;
  /*为了照顾ie图片缩放失真*/ }

/* clearfix */
.clearfix, .header .inner {
  *zoom: 1; }

.clearfix:before, .header .inner:before, .clearfix:after, .header .inner:after {
  content: "";
  display: table; }

.banner .slideBox .hd li, .appraise .ap-item .tp, .store .st-logo .tp {
  border-radius: 50%; }

.banner, .banner .slideBox .hd li, .appraise, .appraise .tit h3, .appraise .ap-item, .appraise .ap-item .tp, .appraise .ap-item .txt .pp, .appraise .ap-item .txt .pic, .appraise .ap-item .txt .pic ol, .appraise .ap-item .txt .pic li, .store, .store .st-logo .tp, .pro-det, .handle, .handle .inL ol, .footer .con, .footer .con .tp, .para-pop, .para-pop .list, .para-pop .list ul, .para-pop .list li, .dl-pop .in, .dl-pop .in .con .tp, .buy-pop .pro .pic, .buy-pop .sel-com, .buy-pop .sel-com .sels, .buy-pop .sel-com .sels .list {
  overflow: hidden; }

.store .st-logo .tp {
  margin: 0 auto; }

.pro-sel, .pro-para, .appraise .ap-item, .para-pop .in {
  padding: 0 .2rem; }

.appraise .ap-item .tp img, .appraise .ap-item .txt .pic li img, .store .st-logo .tp img, .handle .inR .buy-btn, .footer .con .tp img, .dl-pop .in .con .tp img, .buy-pop .pro .pic img {
  width: 100%;
  height: 100%; }

.store .par.par1:before, .handle .inL ol li:after, .dl-pop .in .btn-com:after {
  content: "";
  display: inline-block;
  vertical-align: middle; }

.footer .in {
  max-width: 640px; }

.footer .in {
  position: fixed;
  left: auto;
  bottom: 0;
  right: auto;
  top: auto;
  z-index: 88;
  width: 100%; }

.para-pop .in, .dl-pop .in, .dl-pop .in .btn-com:after {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%); }

.banner .slideBox .hd {
  position: absolute;
  left: 50%;
  top: auto;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0); }

.pro-sel .arr-ico, .pro-para .arr-ico, .footer .close, .footer .dl {
  position: absolute;
  left: auto;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%); }

.banner .slideBox {
  position: relative; }
  .banner .slideBox .hd {
    bottom: .2rem;
    z-index: 2; }
    .banner .slideBox .hd li {
      width: .16rem;
      height: .16rem;
      background-color: #fbc47b;
      text-indent: -99999px;
      margin: 0 .2rem;
      display: inline-block; }
      .banner .slideBox .hd li.on {
        background-color: #ff9100; }
  .banner .slideBox .bd {
    position: relative;
    z-index: 0; }
    .banner .slideBox .bd li {
      position: relative;
      text-align: center; }
      .banner .slideBox .bd li img {
        width: 100%; }

.pro-sel, .pro-para {
  width: 100%;
  height: .7rem;
  background-color: #fff;
  box-sizing: border-box;
  position: relative;
  margin-top: .2rem; }
  .pro-sel .tit, .pro-para .tit {
    line-height: .7rem; }
    .pro-sel .tit .ti, .pro-para .tit .ti {
      margin-left: .1rem; }
  .pro-sel .arr-ico, .pro-para .arr-ico {
    width: .7rem;
    height: .7rem;
    background-image: url("../images/arr-ico.png");
    background-repeat: no-repeat;
    background-size: cover;
    right: 0; }

.appraise {
  background-color: #fff;
  margin-top: .2rem; }
  .appraise .in {
    padding-bottom: .1rem; }
  .appraise .tit {
    height: .7rem;
    padding-left: .2rem; }
    .appraise .tit h3 {
      line-height: .7rem; }
  .appraise .ap-item {
    border-bottom: 1px solid #cfcfcf;
    padding-bottom: .2rem; }
    .appraise .ap-item .tp {
      width: .68rem;
      height: .68rem;
      float: left;
      margin-left: .1rem; }
    .appraise .ap-item .txt {
      margin-left: 1.1rem;
      font-size: .24rem; }
      .appraise .ap-item .txt .name {
        margin-bottom: .1rem; }
      .appraise .ap-item .txt .pp {
        margin-top: .2rem; }
      .appraise .ap-item .txt .pic {
        margin-top: .15rem; }
        .appraise .ap-item .txt .pic li {
          width: 1.2rem;
          height: 1.2rem;
          float: left;
          margin-right: .1rem;
          margin-bottom: .1rem; }
  .appraise .bot {
    width: 100%;
    height: 1rem;
    text-align: center; }
    .appraise .bot .btn {
      width: 2.15rem;
      height: 0.56rem;
      line-height: 0.56rem;
      text-align: center;
      border: 1px solid #ffaa3c;
      color: #ffaa3c;
      font-size: .24rem;
      border-radius: .1rem;
      display: inline-block;
      margin-top: .2rem; }

.star-score {
  position: relative;
  width: 1.2rem;
  height: 0.19rem;
  background-image: url("../images/stars-0.png");
  background-repeat: no-repeat;
  background-size: cover; }
  .star-score > span {
    position: absolute;
    width: 0;
    height: 0;
    padding-top: 0.19rem;
    overflow: hidden;
    left: 0;
    top: 0;
    background-image: url("../images/stars-1.png");
    background-repeat: no-repeat;
    background-size: cover; }

.store {
  background-color: #fff;
  height: 1.4rem;
  margin-top: .2rem; }
  .store .in {
    padding: .2rem; }
  .store .inL {
    float: left; }
  .store .inR {
    float: right;
    width: 2.7rem;
    margin-top: .1rem; }
  .store .st-logo {
    width: 1.2rem;
    text-align: center;
    float: left; }
    .store .st-logo .tp {
      width: .6rem;
      height: .6rem; }
      .store .st-logo .tp img {
        display: inline-block; }
    .store .st-logo .chat {
      font-size: .2rem;
      color: #333;
      margin-top: .05rem; }
  .store .st-name {
    margin-left: 1.3rem;
    padding-top: .1rem; }
    .store .st-name .name {
      font-size: .36rem;
      margin-bottom: .15rem; }
  .store .par {
    width: 50%;
    height: .8rem;
    float: left;
    text-align: center;
    position: relative; }
    .store .par.par1:before {
      width: 1px;
      height: 100%;
      background-color: #999;
      position: absolute;
      left: 0;
      top: 0; }
    .store .par span {
      display: inline-block; }
    .store .par .ti {
      margin-top: .2rem;
      font-size: .24rem; }

.pro-det {
  background-color: #fff;
  margin-top: .2rem; }
  .pro-det .in {
    padding-top: .2rem; }
  .pro-det img {
    width: 100%;
    height: auto; }

.handle {
  width: 100%;
  height: 1rem;
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  box-sizing: border-box; }
  .handle .inR {
    width: 33.33333%;
    height: 100%;
    float: right;
    background-color: #d92810; }
    .handle .inR .buy-btn {
      display: block;
      line-height: 1rem;
      text-align: center;
      font-size: .3rem;
      color: #fff; }
  .handle .inL {
    width: 66.66667%;
    height: 100%;
    float: left; }
    .handle .inL ol {
      display: flex;
      display: -webkit-box;
      display: -ms-flexbox; }
      .handle .inL ol li {
        flex: 1;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        text-align: center;
        position: relative; }
        .handle .inL ol li:after {
          width: 1px;
          height: .8rem;
          background-color: #c9c9c9;
          position: absolute;
          top: .1rem;
          right: 0; }
        .handle .inL ol li:last-of-type:after {
          display: none; }
        .handle .inL ol li a {
          font-size: .2rem; }
        .handle .inL ol li img {
          width: .6rem;
          height: .6rem;
          display: inline-block; }
        .handle .inL ol li .ti {
          display: block;
          margin-top: .05rem; }

.footer {
  width: 100%;
  height: 1.5rem;
  position: relative; }
  .footer .in {
    width: 100%;
    height: 1.5rem;
    background-color: #f1dac6; }
  .footer .close {
    width: .45rem;
    height: .9rem;
    background-image: url("../images/close-ico.png");
    background-repeat: no-repeat;
    background-size: cover; }
  .footer .dl {
    width: 2.15rem;
    height: .6rem;
    right: .2rem; }
    .footer .dl .btn {
      height: 0.6rem;
      line-height: 0.6rem;
      text-align: center;
      border-radius: .4rem;
      color: #e97711;
      border: 1px solid #e97711;
      display: block; }
  .footer .con {
    margin-left: .85rem;
    margin-top: .25rem; }
    .footer .con .tp {
      width: 1rem;
      height: 1rem;
      float: left; }
    .footer .con .txt {
      margin-left: 1.2rem; }
      .footer .con .txt > * {
        color: #e97711;
        line-height: 1.2; }
      .footer .con .txt .name {
        font-size: .36rem;
        padding-top: .04rem; }
      .footer .con .txt .p2 {
        font-size: .18rem; }

.pop {
  width: 100%;
  height: 100%;
  display: none; }

.wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 98;
  background-color: rgba(0, 0, 0, 0.5); }

.para-pop .in {
  width: 100%;
  box-sizing: border-box;
  padding-top: .55rem;
  padding-bottom: .3rem;
  z-index: 9998;
  background-color: #fff; }
.para-pop .tit {
  text-align: center; }
  .para-pop .tit h3 {
    color: #3e3c3c; }
.para-pop .list {
  color: #666;
  margin-top: .4rem; }
  .para-pop .list li {
    margin-bottom: .15rem; }
  .para-pop .list .tl {
    float: left;
    width: 20%; }
  .para-pop .list .tr {
    float: left;
    width: 80%;
    padding-left: .1rem;
    box-sizing: border-box; }
    .para-pop .list .tr span {
      margin-right: .05rem; }

.dl-pop .in {
  width: 80%;
  height: 3.6rem;
  background-color: #fff;
  border-radius: .1rem;
  z-index: 9999; }
  .dl-pop .in .con {
    margin-top: .9rem;
    margin-left: .9rem; }
    .dl-pop .in .con .tp {
      width: .9rem;
      height: .9rem;
      float: left; }
    .dl-pop .in .con .txt {
      margin-left: 1.2rem;
      font-size: .36rem;
      color: #000; }
      .dl-pop .in .con .txt p {
        margin-bottom: .1rem; }
  .dl-pop .in .btn-com {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: .9rem;
    background-color: #f0c39b;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox; }
    .dl-pop .in .btn-com:after {
      width: 1px;
      height: .7rem;
      background-color: #f39162; }
    .dl-pop .in .btn-com .btn {
      flex: 1;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      height: 0.9rem;
      line-height: 0.9rem;
      text-align: center;
      color: #f55f2a;
      display: block; }

.buy-pop {
  display: block; }
  .buy-pop .in {
    width: 100%;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    top: 20%;
    padding-bottom: 1.2rem;
    z-index: 100; }
  .buy-pop .close {
    width: .6rem;
    height: .6rem;
    position: absolute;
    right: .3rem;
    top: .2rem; }
    .buy-pop .close .ico {
      width: .5rem;
      height: .5rem;
      background-image: url("../images/close-ii.png");
      background-repeat: no-repeat;
      background-size: cover;
      display: inline-block; }
  .buy-pop .btn-com {
    width: 100%;
    height: 1rem;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    position: absolute;
    bottom: 0;
    z-index: 9999; }
    .buy-pop .btn-com .btn {
      flex: 1;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      height: 1rem;
      line-height: 1rem;
      text-align: center;
      display: block;
      background-color: #f0c39b;
      color: #fff;
      font-size: .36rem; }
      .buy-pop .btn-com .btn:last-of-type {
        background-color: #ff9100; }
  .buy-pop .pro {
    position: absolute;
    top: 0;
    left: 0;
    padding: .2rem .4rem;
    width: 100%;
    height: 1.6rem; }
    .buy-pop .pro .pic {
      width: 1.94rem;
      height: 1.94rem;
      border: 1px solid #e97711;
      position: relative;
      top: -.6rem;
      float: left; }
      .buy-pop .pro .pic img {
        display: inline-block; }
    .buy-pop .pro .txt {
      margin-left: 2.3rem;
      color: #666; }
      .buy-pop .pro .txt > * {
        margin-bottom: .1rem; }
      .buy-pop .pro .txt .price {
        color: #f5b563;
        font-size: .45rem; }
  .buy-pop .sel-com {
    width: 100%;
    position: absolute;
    top: 2rem;
    bottom: 1rem; }
    .buy-pop .sel-com .sels {
      padding: 0 .25rem; }
      .buy-pop .sel-com .sels .tit {
        width: 100%;
        height: 0.7rem;
        line-height: 0.7rem; }
      .buy-pop .sel-com .sels .list {
        padding-top: .25rem;
        padding-left: .1rem;
        border-top: 1px solid #dbdbdb;
        border-bottom: 1px solid #dbdbdb; }
        .buy-pop .sel-com .sels .list li {
          width: 1.8rem;
          height: 0.56rem;
          line-height: 0.56rem;
          text-align: center;
          background-color: #e0e0e0;
          border-radius: .1rem;
          float: left;
          color: #666;
          margin-right: .7rem;
          margin-bottom: .25rem; }
          .buy-pop .sel-com .sels .list li:nth-of-type(3n) {
            margin-right: 0; }
          .buy-pop .sel-com .sels .list li.cur {
            background-color: #e97711;
            color: #fff; }
    .buy-pop .sel-com .count {
      width: 100%;
      height: 1rem;
      padding: 0 .4rem;
      box-sizing: border-box; }
      .buy-pop .sel-com .count .ti {
        line-height: 1rem;
        float: left; }
      .buy-pop .sel-com .count .han {
        float: right;
        margin-top: .28rem; }
        .buy-pop .sel-com .count .han > * {
          float: left;
          border: 1px solid #bcbcbc; }
        .buy-pop .sel-com .count .han .ico {
          width: .48rem;
          height: .48rem;
          display: inline-block;
          background-repeat: no-repeat;
          background-size: cover; }
        .buy-pop .sel-com .count .han .ico01 {
          background-image: url("../images/jian-ico.png"); }
        .buy-pop .sel-com .count .han .ico02 {
          background-image: url("../images/jia-ico.png"); }
        .buy-pop .sel-com .count .han .inp {
          width: 1rem;
          height: .48rem;
          line-height: .48rem;
          text-align: center;
          font-size: .32rem;
          color: #666;
          margin: 0 .1rem; }

/*# sourceMappingURL=style.css.map */
