@charset "UTF-8";
/* 初始化 */
body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, input, textarea, select, p, dl, dt, dd, a, img, button, form, table, th, tr, td, tbody, article, aside, details, figcaption, figure, footer, header, menu, nav, section { margin: 0; padding: 0; border: none; -webkit-tap-highlight-color: transparent; outline: none; }

html { height: 100%; overflow-x: hidden; background: #282828; /* 禁用iPhone中Safari的字号自动调整 */ -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-tap-highlight-color: transparent; }

body { position: relative; margin: 0 auto; width: 100%; min-width: 320px; max-width: 640px; min-height: 100%;
  font: 0.28rem/1 "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif; color: #3e3c3c; background: #f8f8f8; }

em, i { font-style: normal; }

/* 设置HTML5元素为块 */
article, aside, details, figcaption, figure, footer, header, menu, nav, section { display: block; }

a { text-decoration: none; color: #3e3c3c; font-size: 0.28rem; font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; line-height: 1.1; }

strong { font-weight: normal; }

ul, ol, li { list-style: none; }

/* 去除iPhone中默认的input样式 */
input { resize: none; }
input[type="text"], input[type="submit"], input[type="reset"], input[type="button"] { -webkit-appearance: none; }

/* 图片自适应 */
img { border: none; vertical-align: middle; height: auto; max-width: 100%; width: auto \9; /* ie8 */ -ms-interpolation-mode: bicubic; /*为了照顾ie图片缩放失真*/ }

/* clearfix */
.clearfix, .header .inner { *zoom: 1; }
.clearfix:before, .header .inner:before, .clearfix:after, .header .inner:after { content: ""; display: table; }

//style.scss
$defaultSize:.28rem !default;
$base-color: #3e3c3c !default;
$imgUrl:"../images";
$main-color:#ff9100 !default;
$white:#fff !default;
$font-weight:700;
$txt-lineHight:1.2 !default;
$fl:left !default;
$fr:right !default;
$max-width:640px;
$min-width:320px;
$baseFontSize: 100px !default;
@function pxToRem($px) {
  @return $px / $baseFontSize * 1rem;
}
@function remToPx($rem) {
  @return $baseFontSize * $rem / 1rem;
}
%borRadio50{ border-radius: 50%;}
%ovrd{ overflow: hidden;}
%m0a{ margin: 0 auto;}
%pdLR{ padding: 0 .2rem;}
%widHig{ width: 100%; height: 100%;}
%ellipsis{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
%pseudo{ content: ""; display: inline-block; vertical-align: middle;}
%maxWidth{ max-width:$max-width;}
%clearfix {
  &:before, &:after { content: ''; display: table; }
  &:after { clear: both; *zoom: 1; }
}
%fixedTop{ position: fixed; left: auto; top: 0; right: auto; bottom: auto; z-index: 88; @extend %maxWidth;}
%fixedBottom{ position: fixed; left: auto; bottom: 0; right: auto; top: auto; z-index: 88; width: 100%; @extend %maxWidth;}
@mixin pdLR(){ padding:0 .4rem;}
@mixin bgPara(){ background-repeat: no-repeat; background-size: cover; }
@mixin displayFlex(){ display: flex; display: -webkit-box; display: -ms-flexbox; }
@mixin flex(){ flex:1; -webkit-box-flex:1;  -ms-flex:1; }
@mixin lineHig($hig){ height: $hig; line-height: $hig;}
@mixin box-sizing(){ box-sizing: border-box; }
@mixin ellipsis($v...) {
  $l: length($v);
  overflow: hidden; text-overflow: ellipsis;
  @if ($l == 0) {
    white-space: nowrap; line-height: $txt-lineHight;
  } @else if ($l == 1) {
    display: -webkit-box; -webkit-line-clamp: $v; -webkit-box-orient: vertical;
  }
}
@mixin transition($transition...){
  transition:$transition;  -webkit-transition:$transition;  -moz-transition:$transition;
  -ms-transition:$transition; -o-transition:$transition;
}
@mixin transform($transform...){
  transform:$transform;  -webkit-transform:$transform;  -moz-transform:$transform;
  -ms-transform:$transform;  -o-transform:$transform;
}
%translateXY{ position:absolute; left: 50%; top: 50%; @include transform(translate(-50%,-50%)); }
%translateX{ position:absolute; left: 50%; top: auto; @include transform(translate(-50%,0)); }
%translateY{ position:absolute; left: auto; top: 50%; @include transform(translate(0,-50%)); }
@mixin animation($animation...){
  animation:$animation;  -webkit-animation:$animation;  -moz-animation:$animation;
  -ms-animation:$animation;  -o-animation:$animation;
}
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}
@mixin box-shadow($shadow...) {
  -webkit-box-shadow:$shadow;  -moz-box-shadow:$shadow; box-shadow:$shadow;
}
@mixin max-screen($res){
  @media only screen and ( max-width: $res )
  {
    @content;
  }
}
@mixin min-screen($res){
  @media only screen and ( min-width: $res )
  {
    @content;
  }
}



.banner{ @extend %ovrd;
  .slideBox{ position:relative;
    .hd{ @extend %translateX; bottom:.2rem;  z-index:2;
      li{width:.16rem; height:.16rem; background-color: #fbc47b; @extend %borRadio50; text-indent:-99999px;
        margin:0 .2rem; display:inline-block; @extend %ovrd;
        &.on{ background-color:$main-color;}
      }
    }
    .bd{ position:relative; z-index:0;
      li{ position:relative; text-align:center;
        img{ width:100%;}
      }
    }
  }
}


.pro-sel,.pro-para{ width: 100%; height: .7rem; background-color: $white; @extend %pdLR;
  @include box-sizing(); position: relative; margin-top: .2rem;
  .tit{ line-height: .7rem;
    .ti{ margin-left: .1rem;}
  }
  .arr-ico{ width: .7rem; height: .7rem; background-image: url("#{$imgUrl}/arr-ico.png"); @include bgPara();
    @extend %translateY; right: 0;
  }
}

.appraise{ @extend %ovrd; background-color: $white; margin-top: .2rem;
  .in{  padding-bottom: .1rem; }
  .tit{ height: .7rem; padding-left: .2rem;
    h3{ line-height: .7rem; @extend %ovrd;}
  }
  .ap-item{ @extend %ovrd; @extend %pdLR; border-bottom: 1px solid #cfcfcf; padding-bottom: .2rem;
    .tp{ width: .68rem; height: .68rem; @extend %borRadio50; @extend %ovrd; float: $fl; margin-left: .1rem;
      img{ @extend %widHig;}
    }
    .txt{ margin-left: 1.1rem; font-size: .24rem;
      .name{ margin-bottom: .1rem;}
      .pp{ margin-top: .2rem; @extend %ovrd; }
      .pic{ @extend %ovrd; margin-top: .15rem;
        ol{ @extend %ovrd;}
        li{ width: 1.2rem; height: 1.2rem; @extend %ovrd; float:$fl; margin-right: .1rem; margin-bottom: .1rem;
          img{ @extend %widHig; }
        }
      }
    }
  }
  .bot{ width: 100%; height: 1rem; text-align: center;
    .btn{ width: 2.15rem; @include lineHig(.56rem); text-align: center; border: 1px solid #ffaa3c;
      color: #ffaa3c; font-size: .24rem; border-radius: .1rem; display: inline-block; margin-top: .2rem; }
  }
}
.star-score { position: relative; width: 1.2rem; height: 0.19rem;
  background-image:url("#{$imgUrl}/stars-0.png"); @include bgPara();
  > span { position: absolute; width: 0; height: 0; padding-top: 0.19rem; overflow: hidden; left: 0; top: 0;
    background-image:url("#{$imgUrl}/stars-1.png"); @include bgPara();}
}

.store{ @extend %ovrd; background-color: $white; height: 1.4rem;  margin-top: .2rem;
  .in{ padding: .2rem;}
  .inL{ float: $fl;}
  .inR{ float: $fr; width: 2.7rem; margin-top: .1rem;}
  .st-logo{ width: 1.2rem; text-align: center; float: left;
    .tp{ width: .6rem; height: .6rem; @extend %ovrd; @extend %borRadio50; @extend %m0a;
      img{ @extend %widHig;  display: inline-block;}
    }
    .chat{ font-size: .2rem; color: #333; margin-top: .05rem;}
  }
  .st-name{ margin-left: 1.3rem; padding-top: .1rem;
    .name{ font-size: .36rem; margin-bottom: .15rem; }
  }
  .par{ width: 50%; height: .8rem; float: $fl; text-align: center; position: relative;
    &.par1:before{ @extend %pseudo; width: 1px; height: 100%; background-color: #999; position: absolute; left: 0; top: 0;}
    span{ display: inline-block;}
    .ti{ margin-top: .2rem; font-size: .24rem;}
  }
}

.pro-det{ @extend %ovrd; background-color: $white; margin-top: .2rem;
  .in{ padding-top: .2rem;}
  img{ width: 100%; height: auto;}
}

.handle{ width: 100%; height: 1rem; background-color: $white;  @extend %ovrd; border-bottom:1px solid #e6e6e6; @include box-sizing();
  .inR{ width: percentage(1/3); height: 100%; float: $fr; background-color: #d92810;
    .buy-btn{ @extend %widHig; display: block; line-height: 1rem; text-align: center;
      font-size: .3rem; color: #fff;
    }
  }
  .inL{ width: percentage(2/3); height: 100%; float: $fl;
    ol{ @extend %ovrd; @include displayFlex();
      li{ @include flex(); text-align: center; position: relative;
        &:after{ @extend %pseudo; width: 1px; height: .8rem; background-color: #c9c9c9;  position: absolute;top: .1rem; right: 0;}
        &:last-of-type:after{ display: none;}
        a{ font-size: .2rem;}
        img{ width: .6rem; height: .6rem; display: inline-block;}
        .ti{ display: block; margin-top: .05rem;}
       }
    }
  }
}

.footer{ width: 100%; height: 1.5rem; position: relative;
  .in{ width: 100%; @extend %fixedBottom; height: 1.5rem; background-color: #f1dac6;}
  .close{ width: .45rem; height: .9rem; background-image: url("#{$imgUrl}/close-ico.png"); @include bgPara();
    @extend %translateY;}
  .dl{ width: 2.15rem; height: .6rem;@extend %translateY; right: .2rem;
    .btn{ @include lineHig(.6rem); text-align: center; border-radius: .4rem;
      color: #e97711; border: 1px solid #e97711; display: block;
    }
  }
  .con{ margin-left: .85rem; margin-top: .25rem; @extend %ovrd;
    .tp{ width: 1rem; height: 1rem; @extend %ovrd; float: $fl;
      img{ @extend %widHig;}
    }
    .txt{ margin-left: 1.2rem;
      >*{ color: #e97711; line-height: 1.2;}
      .name{ font-size: .36rem; padding-top: .04rem;}
      .p2{ font-size: .18rem;}
    }
  }
}
.pop{ width: 100%; height: 100%; display: none;}
.wrap{ width: 100%; height: 100%; position: fixed; top: 0; z-index: 98; background-color: rgba(0,0,0,.5);}

.para-pop{ @extend %ovrd;
  .in{ width: 100%; @include box-sizing(); @extend %pdLR; padding-top: .55rem; padding-bottom: .3rem;
    @extend %translateXY; z-index: 9998; background-color: $white;}
  .tit{ text-align: center;
    h3{ color: #3e3c3c;}
  }
  .list{ @extend %ovrd; color: #666; margin-top: .4rem;
    ul{ @extend %ovrd;}
    li{ @extend %ovrd; margin-bottom: .15rem;}
    .tl{ float: $fl; width:percentage(1/5); }
    .tr{ float: $fl; width:percentage(4/5); padding-left: .1rem; @include box-sizing();
      span{ margin-right: .05rem;}
    }
  }
}

.dl-pop{
  .in{ width: 80%; height: 3.6rem; background-color: $white; border-radius: .1rem; @extend %translateXY;
    z-index: 9999;  @extend %ovrd;
    .con{ margin-top: .9rem; margin-left: .9rem;
      .tp{ width: .9rem; height: .9rem; @extend %ovrd; float: $fl;
        img{ @extend %widHig;}
      }
      .txt{ margin-left: 1.2rem; font-size: .36rem; color: #000;
        p{ margin-bottom: .1rem;}
      }
    }
    .btn-com{ position: absolute; bottom: 0; left: 0; width: 100%; height: .9rem;
      background-color: #f0c39b; @include displayFlex();
      &:after{ @extend %pseudo; width: 1px; height: .7rem; background-color: #f39162; @extend %translateXY;}
      .btn{ @include flex(); @include lineHig(.9rem); text-align: center; color: #f55f2a; display: block;
      }
    }
  }
}

.buy-pop{ display: block;
  .in{ width: 100%; background-color: $white; position: fixed; bottom:0;  top: 20%; padding-bottom: 1.2rem; z-index: 100;}
  .close{ width: .6rem; height: .6rem; position: absolute; right: .3rem; top: .2rem;
    .ico{ width: .5rem; height: .5rem; background-image: url("#{$imgUrl}/close-ii.png"); @include bgPara(); display: inline-block;}
  }
  .btn-com{ width: 100%; height: 1rem; @include displayFlex(); position: absolute; bottom: 0; z-index: 9999;
    .btn{ @include flex(); @include lineHig(1rem); text-align: center; display: block;
      background-color: #f0c39b; color: #fff; font-size: .36rem;
      &:last-of-type{ background-color: #ff9100;}
    }
  }

  .pro{ position: absolute; top: 0;  left: 0; padding:.2rem .4rem;
    width: 100%;  height: 1.6rem;
    .pic{ width: 1.94rem; height: 1.94rem; @extend %ovrd; border: 1px solid #e97711;  position: relative;
      top: -.6rem; float: left;
      img{ @extend %widHig; display: inline-block;}
    }
    .txt{ margin-left: 2.3rem; color: #666;
      >*{ margin-bottom: .1rem;}
      .price{ color: #f5b563; font-size: .45rem; }
    }
  }

  .sel-com{ @extend %ovrd; width: 100%; position: absolute; top: 2rem; bottom: 1rem;
    .sels{ @extend %ovrd; padding: 0 .25rem;
      .tit{ width: 100%; @include lineHig(.7rem); }
      .list{ @extend %ovrd; padding-top: .25rem; padding-left: .1rem; border-top: 1px solid #dbdbdb; border-bottom: 1px solid #dbdbdb;
        li{ width: 1.8rem; @include lineHig(.56rem); text-align: center; background-color: #e0e0e0;
          border-radius: .1rem; float: left; color: #666; margin-right: .7rem; margin-bottom: .25rem;
          &:nth-of-type(3n){ margin-right: 0;}
          &.cur{ background-color: #e97711; color: #fff;}
        }
      }
    }
    .count{ width: 100%; height: 1rem; padding: 0 .4rem; @include box-sizing();
      .ti{ line-height: 1rem; float: $fl;}
      .han{ float: $fr; margin-top: .28rem;
        >*{ float: left;border: 1px solid #bcbcbc;}
        .ico{ width: .48rem; height: .48rem;  display: inline-block;  @include bgPara();  }
        .ico01{ background-image: url("#{$imgUrl}/jian-ico.png");}
        .ico02{ background-image: url("#{$imgUrl}/jia-ico.png");}
        .inp{ width: 1rem; height: .48rem; line-height: .48rem; text-align: center;
          font-size: .32rem; color: #666; margin: 0 .1rem;
        }
      }
    }
  }
}






















